

:root{
    --gold1: #DAA520;
     --gold2: #9F8747;
     --light-gold1: #F1E6B1;
     --light-gold2: #fcfbf0;
     --black1: #202000;
     --black1: #190902;
     --black3: #110000;
     --white: #e8e8e8;
}

/* Navegation Menu */

nav{
    padding: 2rem 0;
    
}

.nav__icon,
.nav__bg-overlay,
.nav__close-icon{
    display: none;
}
.nav__wrapper a {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.nav__wrapper .logo h1{
    color: black;
    font-size: 2rem;
    margin: 0.1rem;
    font-family: 'Poppins';
}

.nav__wrapper a div{
    width: 120px;
    height: 120px;
}
.nav__wrapper a div img{
    border-radius: 50%;
}
    
.nav__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list-wrapper li{
    display: inline-block;
    margin: 0 1rem;
}

.nav__list-wrapper .nav__link{
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    color: var(--black3);
    padding: .5rem;
}

.nav__list-wrapper li:hover .nav__link{
    color: var(--gold1);
}

    /* Glabal Button Styles */

.btn {
    color: var(--gold1);
    font-family: 'Poppins';
    font-weight: 500;
    border-radius: 10px;
    font-size: 1.4rem;
    padding: 1.4rem 2rem;
}

.primary-btn{
    background-color: var(--gold1);
    color: white;
    transition: 0.5s all ease;
}

.primary-btn:hover{
    border-bottom: 1px solid var(--gold2);
    box-shadow: .5px .5px 6px var(--black1);
    margin-left: -5px;

}

.btn:hover{
    border-bottom: 1px solid var(--gold2);
    box-shadow: .5px .5px 6px var(--black1);
    margin-left: 5px;
}


@media only screen and (min-width:768px){
    .btn{
        padding: 1.3rem 2rem;
        font-size: 1.9rem;
    }
    .cont-logo{
        visibility: hidden;
        width: 0;
        height: 0;
    }
   
}

    /* Media Queries for Mobile */
@media only screen and (max-width: 768px) {
    nav{
            position: relative;
    }
    .nav__wrapper a div{
        width: 80px;
        height: 80px;
    }

    .nav__icon{
        display: block;
        cursor: pointer;
    }
    .nav__icon img, 
    .nav__close-icon img{
        pointer-events: none;
        width: 30px;
        height: 30px;
    }

    .nav__close-icon{
        display: block;
        position: absolute;
        color: var(--black3);
        top: 1rem;
        right: 1rem;
        cursor: pointer;
    }

    .nav__list{
        z-index: 1000;
        position: absolute;
        height: 100vh;
        top: 0;
        width: 80%;
        left: 100%;
        background-color: var(--light-gold2);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='church-on-sunday' fill='%239f8747' fill-opacity='0.16'%3E%3Cpath d='M77.17 0H80v2.83l-.1.1A39.9 39.9 0 0 1 74.64 20a39.9 39.9 0 0 1 5.24 17.06l.11.11v2.89c-.01 6.9-1.8 13.79-5.35 19.94A39.96 39.96 0 0 1 80 79.94V80h-2.83L66.84 69.66a39.83 39.83 0 0 1-24.1 10.25l.09.09h-5.66l.1-.1c-8.7-.58-17.22-4-24.1-10.23L2.82 80H0V79.94c.01-6.9 1.8-13.8 5.35-19.94A39.96 39.96 0 0 1 0 40.06V37.17l.1-.1A39.9 39.9 0 0 1 5.36 20 39.9 39.9 0 0 1 .1 2.94L0 2.83V0h2.83l-.1.1a39.83 39.83 0 0 1 24.1 10.24L37.18 0H40c0 6.92-1.78 13.83-5.35 20A39.96 39.96 0 0 1 40 40c0-6.92 1.78-13.83 5.35-20A39.96 39.96 0 0 1 40 0h2.83l10.33 10.34A39.83 39.83 0 0 1 77.26.09L77.17 0zm.77 77.94c-.3-5.52-1.8-11-4.49-16a40.18 40.18 0 0 1-5.17 6.34l9.66 9.66zm-12.52-9.7l-6.83-6.83-5.46 5.46-1.41 1.41-9.66 9.66c8.4-.45 16.69-3.68 23.36-9.7zm-23.07 6.58l7.99-7.98a40.05 40.05 0 0 1-3.79-4.9 37.88 37.88 0 0 0-4.2 12.88zM47.68 60a37.98 37.98 0 0 0 4.07 5.42L57.17 60l-5.42-5.42A38 38 0 0 0 47.68 60zm2.66-6.84a40.06 40.06 0 0 0-3.79 4.9 37.88 37.88 0 0 1-4.2-12.88l7.99 7.98zm1.38-1.44l1.41 1.41 5.46 5.46 6.83-6.84a37.85 37.85 0 0 0-23.36-9.7l9.66 9.67zM60 60l6.87 6.87A38.1 38.1 0 0 0 72.32 60a38.11 38.11 0 0 0-5.45-6.87L60 60zm-14.65 0a39.9 39.9 0 0 0-5.24 17.06l-.11.11-.1-.1A39.9 39.9 0 0 0 34.64 60a39.9 39.9 0 0 0 5.24-17.06l.11-.11.1.1A39.9 39.9 0 0 0 45.36 60zm9.23-48.25a37.85 37.85 0 0 1 23.36-9.7l-9.66 9.67-1.41 1.41-5.46 5.46-6.83-6.84zm13.67 13.67L62.83 20l5.42-5.42A38 38 0 0 1 72.32 20a37.98 37.98 0 0 1-4.07 5.42zm5.2-3.47a40.05 40.05 0 0 1-3.79 4.89l7.99 7.98c-.61-4.45-2.01-8.82-4.2-12.87zm-6.58 4.92l1.41 1.41 9.66 9.66a37.85 37.85 0 0 1-23.36-9.7l6.83-6.83 5.46 5.46zM53.13 13.13L60 20l-6.87 6.87A38.11 38.11 0 0 1 47.68 20a38.1 38.1 0 0 1 5.45-6.87zm-1.41-1.41l-9.66-9.66c.3 5.52 1.8 11 4.49 16a40.18 40.18 0 0 1 5.17-6.34zm-9.66 26.22c.3-5.52 1.8-11 4.49-16a40.18 40.18 0 0 0 5.17 6.34l-9.66 9.66zm26.22 13.78l9.66-9.66c-.3 5.52-1.8 11-4.49 16a40.18 40.18 0 0 0-5.17-6.34zm8.98-11.81L66.84 50.34a39.83 39.83 0 0 0-24.1-10.25l10.42-10.43a39.83 39.83 0 0 0 24.1 10.25zm-7.6-26.75a40.06 40.06 0 0 1 3.79 4.9 37.88 37.88 0 0 0 4.2-12.88l-7.99 7.98zm-31.72 28.9c-8.4.45-16.69 3.68-23.36 9.7l6.83 6.83 5.46-5.46 1.41-1.41 9.66-9.66zM22.83 60l5.42 5.42c1.54-1.7 2.9-3.52 4.07-5.42a38 38 0 0 0-4.07-5.42L22.83 60zm5.45 8.28l-1.41-1.41-5.46-5.46-6.83 6.84a37.85 37.85 0 0 0 23.36 9.7l-9.66-9.67zm9.37 6.54l-7.99-7.98a40.05 40.05 0 0 0 3.79-4.9 37.88 37.88 0 0 1 4.2 12.88zM20 60l-6.87-6.87A38.11 38.11 0 0 0 7.68 60a38.11 38.11 0 0 0 5.45 6.87L20 60zm17.26-19.9L26.84 29.65a39.83 39.83 0 0 1-24.1 10.25l10.42 10.43a39.83 39.83 0 0 1 24.1-10.25zm-35.2 1.96l9.66 9.66a40.18 40.18 0 0 0-5.17 6.33c-2.7-5-4.2-10.47-4.5-16zm4.49 19.89c-2.7 5-4.2 10.47-4.5 16l9.67-9.67a40.18 40.18 0 0 1-5.17-6.33zm31.1-16.77c-.61 4.45-2.01 8.82-4.2 12.87a40.06 40.06 0 0 0-3.79-4.89l7.99-7.98zm-4.2-23.23c2.7 5 4.2 10.47 4.5 16l-9.67-9.67c1.97-1.97 3.7-4.1 5.17-6.33zm-14.86-.54l6.83 6.84a37.85 37.85 0 0 1-23.36 9.7l9.66-9.67 1.41-1.41 5.46-5.46zm-8.25 5.43l-7.99 7.98c.61-4.45 2.01-8.82 4.2-12.87a40.04 40.04 0 0 0 3.79 4.89zm1.41-1.42A37.99 37.99 0 0 1 7.68 20a38 38 0 0 1 4.07-5.42L17.17 20l-5.42 5.42zm-5.2-7.37a40.04 40.04 0 0 1 3.79-4.89L2.35 5.18c.61 4.45 2.01 8.82 4.2 12.87zm6.58-4.92l-1.41-1.41-9.66-9.66a37.85 37.85 0 0 1 23.36 9.7l-6.83 6.83-5.46-5.46zm13.74 13.74L20 20l6.87-6.87A38.1 38.1 0 0 1 32.32 20a38.1 38.1 0 0 1-5.45 6.87zm6.58-8.82a40.18 40.18 0 0 0-5.17-6.33l9.66-9.66c-.3 5.52-1.8 11-4.49 16z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 0 20px;
        transform: translate(0);
        overflow: hidden;
        transition: .4s ease transform;
    }


    .nav__list.show{
        transform: translate(-100%);
    }
    .nav__list li{
        display: block;
        margin: 25px 0;
    }

    .nav__bg-overlay{
        position: absolute;
        width: 100%;
        top: 0;
        left:0 ;
        z-index: 100;
        height: 100vh;
        background-color: rgba(18, 24, 14, 0.808);
        display: none;
    }
    .nav__bg-overlay.active{
        display: block;
    }
    .cont-logo{
        width: 100%;
        height: 200px;
        visibility: visible;
    }
    .cont-logo.active{
        visibility: visible;
    }
}

/* End of Navegation Menu */


/* Footer Styles */

footer{
    background-color: var(--light-gold1);
    padding-top: 5rem;
    padding-top: 2rem;
}

.footer__wrapper{
    display: flex;
    flex-direction: column;
    gap: 3rem;
} 

.footer__logo{
    width: 120px;
    height: auto;
    position: relative;
    left: 0;
    margin-bottom: 2rem;

}
.footer__logo img{
    border-radius: 50%;
    
}

.footer__desc{
    font-size: 1.4rem;
    color: var(--black1);
    margin: 2rem;
    margin-left: 0;
    line-height: 2.2rem;
}
.footer__social-title{
    font-size: 2.1rem;
    color: var(--black1);
}
.footer__social-item{
    display: inline-block;
    margin-right: .6rem;
    margin-top: .9rem;
}

.footer__social-item a{
    position: relative;
    padding: .5rem .8rem;
    background-color: var(--light-gold2);
    border-radius: 12px;
    border: 1px solid var(--gold1);
    box-shadow: 2px 2px 8px var(--black3);
    transition: 0.5 all ease;

}
.footer__social-item a img{
    width: 25px;
}
.footer__social-item a::after{
    position: absolute;
    content: "";
    background-size: 23px;
    background-repeat: no-repeat;
    top: 0;
    transform: translateX(100%) translateY(100%);
    opacity: 0;
    left: -80%;
    width: 100%;
    height: 100%;
    z-index: 900;
    transition: 0.5 all ease;
}
.footer__social-item-fb a::after{
    background-image: url(..//resources/images/facebook.png);
}

.footer__social-item-ig a::after{
    background-image: url(..//resources/images/instagram.png);
}
.footer__social-item-yt a::after{
    background-image: url(..//resources/images/youtube.png);
    background-size: 30px;
    left: -85%;
    top: -10%;
}

.footer__social-item a:hover::after{
    transform: translateY(20%) translateX(100%);
    opacity: 1;
    transition: all ease .5s;
    
}
.footer__social-item a:hover img{
    opacity: 0;
    transform: translateY(100%);
    transition: all ease .5s;

}
.footer__link-title{
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: var(--black1);
    font-weight: 600;
}
.footer__text  a{
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 0.7rem;
    color: var(--black3);
    font-family: 'Raleway';
    line-height: 1.4rem;
    transition: all 0.5 ease;
}
.footer__text a:hover{
    transform: scale(1.1);

}

@media only screen and (min-width: 768px){
    footer{
        padding: 8rem 0 4rem 0;
    }
   .footer__wrapper{
       flex-direction: row;
   }
   .col-1{
       flex: 4
   }
   .col-2,
   .col-3,
   .col-4{
       flex: 2;
   }
   .footer__desc{
       font-size: 1.7rem;
       max-width: 300px;
       margin-bottom: 2.5rem;
   }
   
   .footer__social-title{
       font-size: 2.2rem;
       margin-bottom: 1.5rem;
   }

   .footer__link-title{
       font-size: 2rem;
   }

   .footer__text a {
       line-height: 1.4em;
   }
  
}

.copy{
    padding: 10px;
}
.copy p{
    font-size: 1.2rem;
    text-align: center;
}
@media only screen and (min-width: 768px){
    .copy{
        padding: 20px;
    }
    .copy div p{
        text-align: left;
        font-size: 1.4rem;
    }
}

/* End of Footer Styles */

/* Store Section Styles */
.store-info__wrapper{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.store-info__item{
    background-color: var(--light-gold1);
    padding: 20px 30px;
    text-align: center;
    border-radius: 12px;
    width: 150px;
}

.store-info__icon{
    width: 30px;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}
.store-info__title{
    font-size: 1.4rem;
    font-family: "Poppins";
    font-weight: 500;
    margin-bottom: .8rem;
    color: var(--black1);
}
.store-info__text{
    font-size: 1.4rem;
    font-family: "Raleway";
    color: var(--black3);
}

@media only screen and (min-width: 768px){
    .store-info__wrapper{
        gap: 4rem;
    }
    .store-info__item{
        min-width: 200px;
        padding: 40px;
    }
    .store-info__icon{
        width: 50px;
        margin-bottom: 2.3rem;
    }
    .store-info__title{
        font-size: 1.7rem;
        margin-bottom: 1.4rem;
    }
    .store-info__text{
        font-size: 1.6rem;
    }
}

/* End of Store Section Styles */

/* Top Dishes */
.dish__title{
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--black3);
}

.dish__wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px,1fr));
    gap: 1rem;

}

.dish__item{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    background-color: var(--light-gold1);
    border-radius: 12px;
    gap: 0.5rem;

}
.dish__item-img{
    flex: 4;
    margin-bottom: 1rem;
}

.dish__item-info{
    flex: 5;
}
.dish__item-icon img{
    object-fit: cover;
    border-radius: 12px;

}
.dish__item-title{
    font-size: 1.5rem;
    line-height: 1.5em;
    margin-bottom: 1.5rem;
    color: var(--black1);
}
.dish__item-price{
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: var(--gold1);
    font-weight: 900;
}

.dish__item-stars{
    height: 15px;
    width: max-content;
    filter: hue-rotate(270deg);

}

@media only screen and (min-width: 768px){
    .dish__title{
        font-size: 2.8rem;
    }
    .dish__wrapper{
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        gap: 1.5rem;
    }
    .dish__item{
        flex-direction: row;
        padding: 1.5rem;
        border-radius: 12px;
        gap: 1rem;
    }
    .dish__item-info{
        flex: 5;
    }
    .dish__item-icon{
        flex: 3;
    }
    .dish__item-title{
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
    .dish__item-price{
        font-size: 1.6rem;
        margin-bottom: 1rem;

    }
}
/* End of Top Dishes */

/* Contact Form Styles */
#form{
    padding: 5rem 0;
}
.form__title{
    font-size: 1.8rem;
    color: var(--black1);
    font-weight: 600;
    margin-bottom: 2rem;
}

.form___wrapper{
    padding: 3rem 0;
}

.form__wrapper form{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

fieldset label{
    font-size: 1.6rem;
    font-family: 'Poppins';
    color: var(--black3);
    font-weight: 500;

}

fieldset input,
 fieldset textarea, 
 fieldset select{
    width: 100%;
    border: none;
    background-color: var(--light-gold1);
    font-size: 1.4rem;
    font-family: 'Raleway';
    font-weight: 600;
    padding: 1.5rem;
    border-radius: 8px;
    margin-top: 0.5rem;
    color: var(--black2);
    }
    fieldset input:focus,
    fieldset textarea:focus, 
    fieldset select:focus{
        border-bottom: 2px solid var(--gold1);
    }

    fieldset textarea{
        resize: vertical;
    }

    button[type="submit"]{
        width: max-content;
        border: 2px solid var(--gold2);
        padding: 1.5rem;
        font-weight: 500;
        letter-spacing: 0.1rem;
    }

    .status{
        padding: 1.5rem;
        font-size: 1.8rem;
        border-radius: 12px;
        width: max-content;
    }
    .success{
        background-color: #2cb67d;
    }
    .error{
        background-color: #e23636;
    }

@media only screen and (min-width:768px){
    .form__title{
        font-size: 3.6rem;
    }
    .form__wrapper form{
        padding: 5rem 0;
        grid-template-columns: 1fr 1fr;
    }
    .form-group__full{
       grid-column: 1/3; 
    }
    .status{
    grid-column: 1/3; 
    }
    fieldset label{
        font-size: 1.8rem;
    }
    fieldset input, fieldset textarea, fieldset select{
        font-size: 1.8rem;
        padding: 2rem;
        margin-top: 1.5rem;
    }
}
/* End of Contact Form Styles */